.leftStyle {
  position: "relative";
  display: "flex";
  padding-top: 150px;
  /* padding-left: 150px; */
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: "center";
  height: 100vh;
  width: "100vh";
  padding-bottom: "10px";
}
.rightStyle {
  background-color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 100vh;
  width: "100vh";
}
.rounded {
  border-radius: 0.4rem !important;
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.border-3 {
  border-width: 3px !important;
}
.border-white {
  border-color: #fff !important;
}
img {
  max-width: 100%;
  height: auto;
}
.h-50px {
  height: 50px !important;
}

.card.overflow-hidden {
  will-change: transform;
}
.overflow-hidden {
  overflow: hidden !important;
}
.rounded-top {
  border-top-left-radius: 0.4rem !important;
  border-top-right-radius: 0.4rem !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.position-relative {
  position: relative !important;
}

@media (min-width: 1200px) {
  .col-xl-4 {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
.pr-20 {
  margin-right: 20px;
  /* width: 100%; */
}
.pe-1 {
  padding-right: 0.25rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
small,
.small {
  font-size: 0.875em;
}
.avatar-group .avatar-img {
  border: 2px solid #fff;
}

.avatar-group .avatar-img {
  border: 2px solid #fff;
}
.avatar-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.avatar-group .avatar-img {
  border: 2px solid #fff;
}

.rounded-circle {
  border-radius: 50% !important;
}
.w-100 {
  width: 100% !important;
}

.btn-primary-soft {
  color: #0f6fec;
  background-color: rgba(15, 111, 236, 0.1);
}
.btn-success-soft {
  color: #0cbc87;
  background-color: rgba(12, 188, 135, 0.1);
}
.btn-danger-soft {
  color: #d6293e;
  background-color: rgba(214, 41, 62, 0.1);
}
.pac-container {
  z-index: 1100 !important;
}
.half-input-container {
  display: flex;
  justify-content: space-between;
}

.half-input {
  max-width: 200px;
}
.avatar {
  vertical-align: middle;
  padding-left: 2px;
  width: 50px;
  height: 50px;
  border-width: 2px;
  border-color: gray;
  display: inline-table;
}
.card-event {
  width: 20rem;
}
.card-event:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
.overflow {
  overflow: hidden;
}
.card-img-top {
  transform: scale(1);
}
.card-img-top:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}
.tab {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbeec1;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #bc986a, #fbeec1);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #bc986a, #fbeec1);
  }
.card-title {
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}